body {
  font-family: 'Manrope';
  background-color: #F1F1F6;
}

.navigation-bar {
  padding: 50px 50px 0;
}

.navbar-brand {
  font-weight: 700;
  font-size: 30px;
}

.title-text {
  color: #888888;
}

.collapse {
    align-items: center;
}

.nav-link {
  margin: 0 15px;
}

.btn {
  border-radius: 30px;
  white-space: nowrap;
}

.body-content {
  padding: 0 60px;
}

.body-content .btn {
  margin: 10px;
  padding: 10px 20px;
}

.info-text {
    padding: 50px 150px;
    line-height: 25px;
}

h1 {
  font-size: 4.5rem;
  font-weight: 200;
  margin-bottom: 50px;
}

.info {
  border-style: solid;
  border-width: thin;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 0;
  font-weight: bold;
  width: 400px;
  padding: 20px;
  border-color: #888888;
  margin-bottom: 50px;
}


footer {
  display: inline-block;
  width: 100%;
  color: #fff;
  background-color: #222222;
}

footer .row {
  padding: 60px 150px;
}

.card {
  padding: 0 80px;
}

h5 {
  font-weight: 700;
}

a {
  text-decoration: none;
}
